.container{
	border: 1px solid white;
}

.table tbody tr td{
	text-align: center;
}

.dropdown-menu{
	background-color: rgba(0,0,0,0.9);

}

.dropdown-menu li a{
	color: white;
}

.page-right-div .table tbody tr td{
	border: none;
}

.page-right-div .table th{
	border-bottom: 2px solid orange;
}

.page-right-div .table{
	margin-bottom: 80px;
	width: 275px;
}

.page-right-div{
	padding-right: 0;
	padding-left: 38px;
}

.recipe-div{
	padding: 15px 30px 15px 30px;
	margin: 50px 0px;
}

.page-left-div{
	padding-left: 0;
}

.modal-content{
	background-color: rgba(255,255,255,0.9);
	color: black;
}

.page-left-button{
	margin-bottom: 15px;
}

.ingredient-inputs{
	margin-right: 10px;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.ingredient-div div, .step-div div{
	margin-bottom: 5px;
}

.navbar-search input{
	border-color: orange;
	color: white;
	background-color: rgba(0,0,0,0.3);
}

.navbar-search button{
	width: 50px;
	padding: 0;
	color: orange;
	border: none;
	background-color: rgba(0,0,0,0.3);
}
.navbar-search span{
	font-size: 1.75rem;
}




html{
	height: 100%;
}

body{
	background: url(../images/homePage.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

th{
	text-align: center;
}


a{
	color: white;
}
