.container{
	width: 300px;
	border: 1px solid white;
	margin: 5px;
}

.table tbody tr td{
	text-align: center;
	border-top: 1px dashed rgba(0,0,0,0);
}

.dropdown-menu{
	background-color: rgba(0,0,0,0);

}

.dropdown-menu li a{
	color: white;
}

.page-right-div{
	float: right;
}

.page-right-div .container{
	margin-top: 20px;
	border: none;
}

.page-right-div .container th{
	border-bottom: 2px solid orange;
}

.recipe-div{
	float: left;
}





html{
	height: 100%;
}

body{
	background: url(../images/homePage.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: none;
	color: white;
}

th{
	text-align: center;
}


a{
	color: white;
}
