.container{
	border: 1px solid white;
}

.table tbody tr td{
	text-align: center;
}

.dropdown-menu{
	background-color: rgba(0,0,0,0.3);

}

.dropdown-menu li a{
	color: white;
}

.page-right-div .table tbody tr td{
	border: none;
}

.page-right-div .table th{
	border-bottom: 2px solid orange;
}

.page-right-div .table{
	margin-bottom: 80px;
	margin-left: 100px;
}






html{
	height: 100%;
}

body{
	background: url(../images/homePage.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

th{
	text-align: center;
}


a{
	color: white;
}
