#meeting-image{
	margin-top: 15px;
}


.meeting-div a{
	color: white;
	font-size: 1.5em;
	display: block;
	text-align: right;
}

.jumbotron{
	background-color: rgba(0,0,0,0.7);
	overflow: auto;
}

.container{
	width: 90%;
}

.meeting-div{
	text-align: center;
}


.meeting-div p{
	text-align: right;
	margin-top: 0 ;
	margin-bottom: 0;
}

.report-tuple{
	margin-bottom: 20px;
}

.report-tuple .report-name-n-time{
	text-align: right;
	font-size: 1em;
}

.report-tuple .report-message{
	border-left: 3px solid orange;
	padding-left: 5px;
}

.modal-content{
	background-color: rgba(255,255,255,0.95);
	color: black;
}

.meeting-header h2{
	display: inline-block;
}

.meeting-header button{
	margin-bottom: 10px;
	margin-left: 15px;
}

.meeting-image{
	width: 300px;
	height: 200px;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}



html{
	height: 100%;
}

body{
	background: url(../images/meeting_report.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}