.navbar .navbar-default{
	margin: 0;
}

.navbar-color{ 
	background-color: rgba(0,0,0,0.3);
	border-color: rgba(0,0,0,0.3);
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-text a{
	color: white;
}



/* only after user login*/
.user_icon{
	margin: 0 5px;
	width: 20px;
	height: 20px;
	display: inline;
	padding: 0;
	border: 1px solid rgba(0,0,0,0);
}

.dropdown-menu{
	background-color: rgba(0,0,0,0.9);

}

.dropdown-menu li a{
	color: white;
}

.navbar-search input{
	border-color: orange;
	color: white;
	background-color: rgba(0,0,0,0.3);
}

.navbar-search button{
	width: 50px;
	height: 30px;
	padding: 0;
	color: orange;
	border: none;
	background-color: rgba(0,0,0,0.3);
}
.navbar-search span{
	font-size: 1.75rem;
}