@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');




#review-h2{
	display: inline-block;
}

#review-button{
	margin-bottom: 10px;
	margin-left: 20px;
}

#recipe-title{
	text-align: center;
}

#recipe-user{
	text-align: right;
}

#stars{
	font-size: 1.5em;
	color: #F5D907;
}







.unit{
	background-color: rgba(0,0,0,0.1);
	border: none;
}
.modal-content{
	background-color: rgba(255,255,255,0.95);
	color: black;
}

.glyphicon-glass{
	margin: 0 5px;
}

.jumbotron{
	background-color: rgba(0,0,0,0.7);
	overflow: auto;
}

.container{
	width: 90%;
}

.ingredient-tuple{
	width: 33%;
	float: left;
	padding-left: 100px;
}

.ingredient-tuple span{
	margin-right: 30px;
}

.step-tuple{
	margin-bottom: 40px;
	overflow: auto;
}

.step-tuple img{
	float: right;
	width: 300px;
	height: 200px;
}

.review-tuple{
	margin-bottom: 50px;	
}

.review-tuple span{
	display: block;
	text-align: right;
}

.review-tuple h3{
	margin-left: 35px;
	margin-top: 0;
}

.review-tuple p{
	margin-left: 60px;
}

.review-text {
	border-left: 2px orange solid;
	padding-left: 10px;
}

.rating-star{
	display: inline-block;
	margin-left: 30px;
	color: yellow;
}

.related-tuple{
	width: 33%;
	float: left;
	text-align: center;
}

.related-tuple a{
	color: white;
}

p .label-danger{
	margin-right: 5px;
}







html{
	height: 100%;
}

body{
	background: url(../images/recipe_detail.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}
