html{
	height: 100%;
}

body{
	background: url(../images/Cover.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


#register_form{
	margin-top: 10%;
	margin-left: 13%;
	width: 400px;
	height: 500px;
	color: white;
}

/*still figuring out a better way to locate the register form*/
/*#register_form{
	position: absolute;
	top: 170px;
	left: 160px;
	width: 400px;
	height: 500px;
	color: white;
}*/

.form-input{
	width: 200px;
	margin: 0 10%;
	padding: 0 60px;
}

textarea.form-control{
	height: 100px;
	width: 274px;
}

.form-control{
 background-color: rgba(255,255,255,0.8);
}

input[type='file'] {
  color: transparent;
}

#yourIcon{
	padding-left: 9px;
}

#registerButton{
	margin: 70px 85px;
}